<!DOCTYPE html>
<html>
    <head>
        <title>FumoNet next design test</title>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <div class="wrapper">
            <nav>
                <ul>
                    <div class="nav-sections">
                        <li><h3>site sections</h3></li>
                        <li><a class="current" href="index.html">home</a></li>
                        <li><a href="">about me</a></li>
                        <li><a href="">blog</a></li>
                        <li><a href="">artwork</a></li>
                        <li><a href="">dream diary</a></li>
                    </div>
                    <div class="nav-recent">
                        <li><h3>recent activity</h3></li>
                        <li>
                            <a href="">
                                SHY 02 @ Sky Kingdom
                                <div class="navbutton-inforow">
                                    <span class="navbutton-date">31/08/2023</span>
                                    <span class="navbutton-tags">Yume 2kki, SHY, Painting, Drawing, Digital, Yume Nikki Fangame</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                First Steps
                                <div class="navbutton-inforow">
                                    <span class="navbutton-date">29/08/2023</span>
                                    <span class="navbutton-tags">Muma Rope, Painting, Digital, Yume Nikki Fangame</span>ù
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Style experiment
                                <div class="navbutton-inforow">
                                    <span class="navbutton-date">27/08/2023</span>
                                    <span class="navbutton-tags">Yume 2kki, Sketch, Digital, Yume Nikki Fangame</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="" title="first attempt at digital painting">
                                First attempt at digital painting
                                <div class="navbutton-inforow">
                                    <span class="navbutton-date">12/08/2023</span>
                                    <span class="navbutton-tags">Painting, Digital</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                SHY 01 @ Greenhouse
                                <div class="navbutton-inforow">
                                    <span class="navbutton-date">12/08/2023</span>
                                    <span class="navbutton-tags">Yume 2kki, SHY, Drawing, Digital, Yume Nikki Fangame</span>
                                </div>
                            </a>
                        </li>
                    </div>
                    <div class="nav-social">
                        <li><h3>social media</h3></li>
                        <li><a href="">Fediverse</a></li>
                        <li><a href="">Last.fm</a></li>
                        <li><a href="">Github</a></li>
                        <li><a href="">Twitter (inactive)</a></li>
                        <li><a href="">YouTube</a></li>
                    </div>
                </ul>
            </nav>
            <header>headerheaderhheader</header>
            <div class="content-wrapper">
                <div class="content">
                    <h1>le header!</h1>
                    <p>
                        Le paragraphe.
                    </p>
                </div>
            </div>
            <footer>
                <p>
                    <a href="">Le sage mystique pied de page.</a>
                </p>
            </footer>
        </div>
    </body>
</html>