<!DOCTYPE html>
<html>
    <head>
        <title>Home? - FumoNet next design test</title>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <div class="wrapper">
            <nav>
                <ul>
                    <div class="nav-sections">
                        <li><h3>site sections</h3></li>
                        <li><a class="current" href="index.html">home</a></li>
                        <li><a href="">about me</a></li>
                        <li><a href="">blog</a></li>
                        <li><a href="">artwork</a></li>
                        <li><a href="">dream diary</a></li>
                    </div>
                    <div class="nav-recent">
                        <li><h3>recent activity</h3></li>
                        <li>
                            <a href="">
                                SHY 02 @ Sky Kingdom
                                <div class="navbutton-inforow">
                                    <span class="navbutton-date">31/08/2023</span>
                                    <span class="navbutton-tags">Yume 2kki, SHY, Painting, Drawing, Digital, Yume Nikki Fangame</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                First Steps
                                <div class="navbutton-inforow">
                                    <span class="navbutton-date">29/08/2023</span>
                                    <span class="navbutton-tags">Muma Rope, Painting, Digital, Yume Nikki Fangame</span>ù
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Style experiment
                                <div class="navbutton-inforow">
                                    <span class="navbutton-date">27/08/2023</span>
                                    <span class="navbutton-tags">Yume 2kki, Sketch, Digital, Yume Nikki Fangame</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="" title="first attempt at digital painting">
                                First attempt at digital painting
                                <div class="navbutton-inforow">
                                    <span class="navbutton-date">12/08/2023</span>
                                    <span class="navbutton-tags">Painting, Digital</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                SHY 01 @ Greenhouse
                                <div class="navbutton-inforow">
                                    <span class="navbutton-date">12/08/2023</span>
                                    <span class="navbutton-tags">Yume 2kki, SHY, Drawing, Digital, Yume Nikki Fangame</span>
                                </div>
                            </a>
                        </li>
                    </div>
                    <div class="nav-social">
                        <li><h3>social media</h3></li>
                        <li><a href="">Fediverse</a></li>
                        <li><a href="">Last.fm</a></li>
                        <li><a href="">Github</a></li>
                        <li><a href="">Twitter (inactive)</a></li>
                        <li><a href="">YouTube</a></li>
                    </div>
                </ul>
            </nav>
            <header>headerheaderhheader</header>
            <div class="content-wrapper">
                <div class="content">
                    <section class="welcome">
                        <h1>Welcome to FumoNet!</h1>
                        <p>
                            This website is where I archive all of my art and write blog posts about various topics.<br>
                            Also, I use it as a CSS playground and as a public Yume Nikki fan game screenshot collection!
                        </p>
                    </section>
                    <section>
                        <h1>mmmmmhmhmhmmmhmhm</h1>
                        <p>
                            Hey there, I'm Driftini and welcome to my website!<br>
                            I'm an Italian guy with a bunch of hobbies I like a little too much.<br>
                            Also, the number 29 has been haunting me throughout my life since the very moment I was born.
                        </p>

                        <h3>
                            <p><a href="/artwork">Drawing</a></p>
                        </h3>
                        <p>Out of all the hobbies listed here, this is likely the one dearest to me.</p>
                        <p>
                            I began taking it "seriously" by late 2018, starting out by drawing old cartoon characters.
                            In 2021, I made a ton of Touhou fanart while beginning to experiment a bit with style.<br><br>

                            As for 2022, I mostly drew OCs both mine and not, all the way until September: that's when I started
                            making Zutomayo fanart and drawing full bodies, instead of the head or upper-body shots from before.
                            That is also the year I started getting into digital art, to the point of buying a Gaomon M10K to
                            move to something more practical than my phone's tiny screen and a cheap stylus without pressure sensitivity.<br><br>
                            
                            All of that leads up to the present 2023: I've settled on a fairly consistent artstyle, better practiced
                            coloring and learned how to polish my digital works.
                            But most importantly, I've started finding my bearings with digital painting, out of desire to
                            work on backgrounds faster and better.
                        </p>

                        <h3>
                            <p><a href="https://last.fm/user/driftini">Music</a></p>
                        </h3>
                        <p></p>
                        <p>Definitely another huge part of my life - I listen to all kinds of stuff during most of the day.</p>

                        <p>
                            Timeframes for music I like weirdly change depending on the genre: for Japanese music it's nearly all
                            2015-17 onwards. For pop, rock, hip-hop and other more "mainstream" genres it's usually between 2014-15
                            and as far back as the 90s, with few exceptions. Other genres I like are Eurobeat, instrumental/ambient
                            and some game soundtracks.
                        </p>

                        <p>Now, for some artists I really like, roughly sorted by music genre:</p>

                        <p><b>Non-japanese music with lyrics</b>: Green Day, Jamiroquai, Cyne, Finger Eleven, Bop
                            Alloy, Michael Jackson, Ne-Yo.</p>

                        <p><b>J-pop/j-rock/vocaloid</b>: Inabakumori, Zutomayo, Yama, Tsukuyomi, Yorushika, Reol, Ado.
                        </p>

                        <p><b>Eurobeat</b>: Ken Blast/Odyssey/Mortimer (…), Ace, Manuel, Leslie Parrish.</p>

                        <p><b>Ambience/instrumental</b>: Nujabes, Chris Christodoulou, Boards of Canada.</p>

                        <p><b><a href="https://last.fm/user/driftini">Now you can check out more about what I listen to on
                                    Last.fm!</a></b></p>
                        <p></p>

                        <h3>
                            <p>Gaming</p>
                        </h3>
                        <p></p>
                        <p>Shouldn’t come as a surprise. I’m a huge fan of character action/<em>hack and slash</em> games to the
                            likes of <em>Devil May Cry</em>, roguelikes such as <em>Dead Cells</em> and <em>Risk of Rain 1 &amp;
                                2</em>, but from time to time, I also play (modded) Doom and other FPSes.</p>

                        <p>I used to be an enormous <em>Metroid</em> fan as well, but after years of near-total radio silence on
                            the franchise in the past, my interest for it has kind of died out.</p>

                        <p>All I’ve been playing lately though is <em>Yume 2kki</em>. Exploration and finding cool worlds there
                            is just really addicting, not to mention said cool worlds tie really well with my interest in art.
                        </p>

                        <p>Special mention here to <em>Katana ZERO</em>. I <strong>very</strong> strongly recommend playing it,
                            because of the plot that really pulled me in, amazing soundtrack, snappy and fun gameplay and really
                            cool visuals.</p>
                        <p></p>

                        <h3>
                            <p>Tech</p>
                        </h3>
                        <p></p>
                        <p>
                            If it’s related in any way to technology, I probably like it.
                            Going more into detail, I'm into Linux, programming, web development (which ties really well into the
                            next interest in this page!) and as of relatively recently, game development.
                        </p>

                        <h3>
                            <p>Design</p>
                        </h3>
                        <p></p>
                        <p>
                            You might've guessed it from this website's ever-changing visual direction - I enjoy designing graphical
                            interfaces and making them come to life with CSS.
                            Oddly enough, I find it way easier to work with than a traditional UI designing program like Figma and so on.<br><br>
                            
                            As of the time of writing, I'm fond of design tropes like skeuomorphism, what I like to call "1px details",
                            compact layouts and so on.
                        </p>
                        <p>
                            Contrary to what you might expect, I don't hate all modern flat design: what I do hate is how it is often
                            treated as an excuse for laziness and lack of detailing.
                            Some examples of modern themes I like are KDE's Breeze and, to a lesser extent,
                            Numix and Windows 11's Win32 theme.
                        </p>
                        
                        <h3>
                            <p><a href="/wallpapers">Photography</a></p>
                        </h3>
                        <p></p>
                        <p>I have kinda dropped this hobby over the last few years, but if I ever find myself outdoors and
                            around a pretty scenery, I am going to take a couple pictures of it, more likely than not.
                            I use some photos I take as wallpapers from time to time, when I don't already have a suitable
                            drawing of mine for that purpose.</p>
                    </section>
                </div>
            </div>
            <footer>
                <p>
                    <a href="">View this page in the repo.</a>
                </p>
            </footer>
        </div>
    </body>
</html>