<html>
    <head>
        <meta property="og:title" content="NSG650's website">
        <meta property="og:type" content="website">
        <meta property="og:description" content="Click on me!">
        <meta property="theme-color" content="#650650">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome to my website!</title>
        <link rel="stylesheet" href="res/style.css">
    </head>
    <body>
        <div class="center">
            <div>
                <h2>Hey There! I am NSG650.</h2>
                <p>-> I am a random 16 year old who likes messing with computers.</p>
                <p>-> I usually mess around with computers at the Operating System or sometimes hardware level.</p>
                <p>-> I usually work in C or Python but I am comfortable to work with any language.</p>
            </div>
            <div>
                <h4>Some of my projects</h4>
                <a href="https://github.com/NSG650/Polaris">-> Polaris</a>
            </div>
            <div>
                <h4>Where you can find me</h4>
                <a href="https://github.com/NSG650/">-> Github [nsg650]</a> <br>
                <a href="https://twitter.com/nsg650">-> Twitter [@nsg650]</a> <br>
                <a href="https://fosstodon.org/@nsg650">-> Mastodon [@nsg650@fosstodon.org]</a> <br>
                <a href="https://discord.com/users/588062797108084757">-> Discord [nsg650]</a> <br>
                <a href="https://t.me/nsg650">-> Telegram [@nsg650]</a> <br>
                <a href="mailto:nsg650@outlook.com">-> Email [nsg650@outlook.com]</a> <br>
                <p style="size: 70%">It is recommended that you contact me via Discord, Twitter, Masto or Telegram since I get notifications for those platforms pretty quickly.</p>
            </div>
            <hr>
            <div>
                <h4>Recent blog posts</h4>
                <a href="blogs/8-7-2023.html">-> 8-7-2023: XNU on the Raspberry Pi [Part 1]</a> <br>
                <a href="blogs/24-2-2023.html">-> 24-2-2023: Hello World!</a> <br>
            </div>
        </div>
    </body>
</html>
