name: Build and Test

on:
  push:
    branches:
      - master
    paths-ignore:
      - "**/coverage.svg"
  pull_request:

jobs:
  test:
    name: Build core and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
      - name: Install dependencies
        run: |
          pip install meson ninja
          sudo apt update
          sudo apt install libfreetype-dev libfontconfig-dev lcov
      - name: Configure build
        run: meson setup builddir
      - name: Test
        run: |
          cd builddir
          ninja test
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: Meson test log
          path: builddir/meson-logs/testlog.txt
